{% extends "base_user.html" %}
{% block content %}
    <title>修改密码</title>
<div class="jumbotron jumbotron-fluid">

<div class="container-fluid">
你好，{{ request.user.username }}！请输入你要修改的密码。
<form method="post" action="{% url 'web:editpass' %}">
        {% csrf_token %}
          <input  class="form-control" id="password1" name="password1" type="password"/>
        <input class="form-control" id="password2" name="password2" type="password"/>



<input type="submit" class="btn btn-primary" value="确定修改">
</form>
{{ info }}
</div></div>
{% endblock content %}
