{% extends "base_user.html" %}
{% block content %}
    <title>工程师信息查询</title>

<div class="jumbotron jumbotron-fluid">

<div class="container-fluid">
 <form method="post" action="{% url 'engineeruser:search' %}">
    <div class="input-group">
     <label for="content">搜索</label><input class="form-control" id="content" name="content" type="text"/>
      <select class="form-control" id="exampleFormControlSelect1" name="exampleFormControlSelect1">
      <option>编号</option>
      <option>姓名</option>

      </select></div>
     {% csrf_token %}
     <input  class="btn btn-primary" type="submit" value="查询">
</form>

{% if engineers is None %}
    未找到数据
{% endif %}
{% for engineer in engineers %}
<ul class="list-group list-group-flush"> <li class="list-group-item">
      <table >

          <tbody>
          <tr><td>编号:</td><td>{{ engineer.Id }}</td></tr>
          <tr><td>姓名:</td><td>{{ engineer.Name }}</td></tr>
          <tr><td>工龄：</td><td>{{ engineer.WorkYears }}</td></tr>
          <tr><td>性别：</td><td>{% if engineer.Sex == 0 %}
    女
    {% else %}
    男
{% endif %}</td></tr>
          <tr><td>学历：</td><td>{% if engineer.Degree == 0 %}
    高中
    {% elif engineer.Degree == 1  %}
    学士
    {% elif engineer.Degree == 2  %}
    硕士
    {% elif engineer.Degree == 3  %}
    博士
    {% elif engineer.Degree == 4  %}
    其它
{% endif %}</td></tr>
          <tr><td>电话：</td><td>{{ engineer.Tel }}</td></tr>
          <tr><td>籍贯：</td><td>{{ engineer.NativePlace }}</td></tr>
          <tr><td>住址：</td><td>{{ engineer.Address }}</td></tr>
          <tr><td>出生日期：</td><td>{{ engineer.Birthday }}</td></tr>
          <tr><td>基本工资：</td><td>{{ engineer.Salary }}</td></tr>
          </tbody>
      </table>

</li>
</ul>

{% endfor %}
</div></div>
{% endblock content %}